.button {
  font-family: $font-title;
  font-size: 14px;
  font-weight: 700;
  display: block;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  color: $color-text-white;
  border: 1px solid $color-btn;
  border-radius: 5px;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
